
      
     button{
        font-size: 18px;
        font-weight: bold;
     }
     
     .button1 {
            color: #ffffff;
            background-color: rgb(7, 184, 63);
            border-radius: 10px;
            border: none;
            box-shadow: #029857 0 10px 20px -10px;
            padding: 4% 7% 4% 7%;
            margin: 2%;
        }

        .button2 {
            color: #ffffff;
            background-color: rgb(59, 97, 173);
            border-radius: 10px;
            border: none;
            box-shadow: #5d9df0 0 10px 20px -10px;
            padding: 4% 7% 4% 7%;
            margin: 2%;
        }

        .button3 {
            color: #ffffff;
            background-color: rgb(174, 3, 117);
            border-radius: 10px;
            border: none;
            box-shadow: #e708a4 0 10px 20px -10px;
            padding: 4% 7% 4% 7%;
            margin: 2%;
        }
        .button4 {
            color: #ffffff;
            background-color: rgb(178, 180, 115);
            border-radius: 10px;
            border: none;
            box-shadow: #e113a3 0 10px 20px -10px;
            padding: 4% 7% 4% 7%;
            margin: 2%;
        }

        .main-menu {
            opacity: 95%;
            position: fixed;
            height: 50%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            row-gap: 20px;
            left: 5px;
            z-index: 999;
            transform: translateX(-110%);
            transition: transform 0.8s ease;
            background-color: rgb(207, 207, 232);
            border-bottom-right-radius: 20%;
        }

        .main-menu.show {
            transform: translateX(0);
        }

        .menu-item-btn {
            color: #ffffff;
            background-color: rgb(174, 3, 117);
            border-radius: 10px;
            border: none;
            box-shadow: #f05dc4 0 10px 20px -10px;
            padding: 5% 7% 5% 7%;
        }