        .button1 {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(19, 176, 68);
            border-radius: 10px;
            border: none;
            display: flex;
            flex-grow: 1;
            height: 50px;
            justify-content: center;
            align-items: center;
            box-shadow: #5df0b0 0 10px 20px -10px;
            padding: 4%;
        }

        .button2 {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(59, 97, 173);
            border-radius: 10px;
            border: none;
            display: flex;
            flex-grow: 1;
            height: 50px;
            justify-content: center;
            align-items: center;
            box-shadow: #5d9df0 0 10px 20px -10px;
            padding: 4%;
        }

        .button3 {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(174, 3, 117);
            border-radius: 10px;
            display: flex;
            flex-grow: 1;
            height: 50px;
            justify-content: center;
            align-items: center;
            border: none;
            box-shadow: #f05dc4 0 10px 20px -10px;
            padding: 4%;
        }


        .main-menu {
            opacity: 95%;
            position: fixed;
            height: 50%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            left: 5px;
            z-index: 999;
            transform: translateX(-110%);
            transition: transform 0.8s ease;
            background-color: rgb(207, 207, 232);
            border-bottom-right-radius: 20%;
        }

        .main-menu.show {
            transform: translateX(0);
        }

        .menu-item-btn {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(174, 3, 117);
            border-radius: 10px;
            border: none;
            box-shadow: #f05dc4 0 10px 20px -10px;
            padding: 5%;
        }
        