        .button1 {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(19, 176, 68);
            border-radius: 10px ;
            border: none;
            display: flex;
            flex-grow: 1;
            height: 50px;
            justify-content: center;
            align-items: center;
            box-shadow: #5df0b0 0 10px 20px -10px;
        }

        .button2 {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(59, 97, 173);
            border-radius: 10px;
            border: none;
            display: flex;
            flex-grow: 1;
            height: 50px;
            justify-content: center;
            align-items: center;
            box-shadow: #5d9df0 0 10px 20px -10px;
        }

        .button3 {
            font-size: 80%;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(174, 3, 117);
            border-radius: 10px;
             display: flex;
            flex-grow: 1;
            height: 50px;
            justify-content: center;
            align-items: center;
            border: none;
            box-shadow: #f05dc4 0 10px 20px -10px;
        }
